<footer id="yoniesFooter">
  <div class="container">
      <div class="row">
              <div class="col-sm-3">
                  <h5>Company</h5>
                  <ul>
                      <li><a href="#">About yonies</a></li>
                      <li><a href="#">For Parents</a></li>
                  </ul>
              </div>
              <div class="col-sm-3">
                  <h5>Legal</h5>
                  <ul>
                      <li><a href="#">Terms of Use</a></li>
                      <li><a href="#">Privacy Policy</a></li>
                      <li><a href="#">Copyright</a></li>
                      <li><a href="#">Open Source</a></li>
                      
                  </ul>
              </div>
              <div class="col-sm-3">
                  <h5>Community</h5>
                  <ul>
                      <li><a href="#">Community Guidelines</a></li>
                      <li><a href="#">Support</a></li>
                  </ul>
              </div>
              <div class="col-sm-3">
                  <h5>A totally new type of watch party.</h5>
                  <p> Share your slice of pop culture. Because no one is better at making us laugh than our friends. 
                          <a href="https://github.com/ng-dd/yonies" title="Find this project on GitHub"><svg class="icon-github"><use xlink:href="#icon-github"></use></svg></a>									
                      </p>
              </div>
          </div>
      </div>
  </footer>