<div>
    <div id="player"></div>
    <!-- <iframe class="embed-responsive-item" [src]='videoUrl' allowfullscreen></iframe> -->
</div>
<div *ngIf = '!isHost'>
    <h1>Guest Controls</h1>
    <button (click)='playRequest()'>Play Request</button>
    <button (click)='pauseRequest()'>Pause Request</button>
    <input value='' placeholder='hour.minute.second' [(ngModel)]='time' (keyup.enter)='skipTo()'>
    <button (click)='skipTo()'>Skip to...</button>
</div>
<div *ngIf='rendered'>
<app-chat [player] = 'player' [socketService] = 'socketService' [roomId] = 'roomId' [username] = 'username' (updatePlayer) = 'getUpdate($event)'></app-chat>
</div>