<div>
  <iframe
    [src]='vid.src'
    height='315'
    width='420'>
  </iframe>
  <i *ngIf="!liked" class="fa fa-heart-o fa-2x" (click)="toggleLiked({url: vid.src.changingThisBreaksApplicationSecurity.toString()})"></i>
  <i *ngIf="liked" class="fa fa-heart fa-2x" (click)="toggleLiked({url: vid.src.changingThisBreaksApplicationSecurity.toString()})"></i>
  <div>{{likeCount}} likes</div>
  <button (click)="toggleComment(vid.id)">Comment</button>
  <div *ngIf="commentOn">
      <form [formGroup]='commentForm' (ngSubmit)="postComment(commentForm.value, vid.id)">
        <input formControlName="comment" placeholder="Post a comment">
        <input type='submit' value='Post'>
      </form>
      <p *ngFor="let comment of comments">
          Username: {{comment.text}}
      </p>
  </div>
</div>