<nav class="navbar navbar-default navbar-expand navbar-fixed-bottom">
    <div class="collapse navbar-collapse " id="nav-feed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
           <a class="nav-link" routerLink="" routerLinkActive="active" (click)="scrollTop()"><mat-icon class="size">home</mat-icon></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/featured" routerLinkActive="active" (click)="scrollTop()"><mat-icon class="size">trending_up</mat-icon></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/following" routerLinkActive="active" (click)="scrollTop()"><mat-icon class="size">people</mat-icon></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/search" routerLinkActive="active" (click)="scrollTop()"><mat-icon class="size">search</mat-icon></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/wall" routerLinkActive="active" (click)="scrollTop()"><mat-icon class="size">bookmark</mat-icon></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/friends" routerLinkActive="active" (click)="scrollTop()"><mat-icon class="size">contactsr</mat-icon></a>
        </li>
      </ul>
    </div>
  </nav>

