/* .wrapper {
    display: grid;
    grid-template-columns: 30% 30% 40%;
} */

/* .tweets {
    grid-column-start: 1;
}

.vids {
    grid-column-start: 2;
} */

body {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  
  h3 {
    margin-top: 2rem;
  }
  
  .row {
    margin-bottom: 1rem;
  }
  .row .row {
    margin-top: 1rem;
    margin-bottom: 0;
  }
  [class*="col-"] {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.2);
  }
  
  hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
  &:before {
    content: '';
    // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 .5em;
    line-height: 1.5em;
    // this is really the only tricky part, you need to specify the background color of the container element...
    color: #818078;
    background-color: #fcfcfa;
  }
}
.jumbotron{
  position: relative;
  background: #000 url("https://i.giphy.com/3o7TKGqXSNNcIOMmFq.gif") center center;
  width: 100%;
  height: 100%;
  background-size: cover;
  color: #fff;
}

/* Search bar 
*/
#custom-search-input{
  padding: 3px;
  border: solid 1px #E4E4E4;
  border-radius: 6px;
  background-color: #fff;
}

#custom-search-input input{
  border: 0;
  box-shadow: none;
}

#custom-search-input button{
  margin: 2px 0 0 0;
  background: none;
  box-shadow: none;
  border: 0;
  color: #666666;
  padding: 0 8px 0 10px;
  border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
  border: 0;
  box-shadow: none;
  border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
  font-size: 23px;
}


#sideways-cat {
  height: 40px;
  background: silver;
  overflow-x: auto;
  overflow-y: hidden;
 &:-webkit-scrollbar {display: none;}
}
#sideways-cat ul {
  display:flex;
  
  /* allow scrolling of flex container */
  overflow-x:auto; 
  
  /* overwrite list container styles */
  margin:2px;
  padding:1em;
  
  /* color for some visual of the spacing */
  box-shadow:0 0 10px black inset;
}
#sideways-cat li {
  float: left;
  text-align: center;
  font-size: 20px;
      /* remove list style bullets */
      list-style-type:none;
      
      /* vertical center with 10px on left and right */
      margin:auto 10px; 
}
#sideways-cat li.active {
  margin: 0 auto;
  border-bottom: 2px red solid;
}
