<div>
  <!-- vv-Remove later-vv -->
  <button (click)='login1()'>Log in to test@tester.com</button>
  <button (click)='login2()'>Log in to mrworldwide@pitbull.com</button>
  <button (click)='currentUser()'>NEW PHONE WHO DIS?</button>
  <button (click)='deleteUsers()'>Delete users (Drop DB)</button>
  <app-friends-list></app-friends-list>
  <form *ngIf="userButton" class="form" [formGroup]='myForm' (ngSubmit)="searchUsers(myForm.value)">
    <input formControlName="username" placeholder="search people">
    <input type='submit' value='search users'>
  </form>
  <form *ngIf="postButton" [formGroup]='postForm' (ngSubmit)="searchPosts(postForm.value)">
    <input formControlName="post" placeholder="search posts">
    <input type='submit' value='search posts'>
  </form>
  <form *ngIf="hashButton" [formGroup]='hashForm' (ngSubmit)="searchHashTags(hashForm.value)">
    <input formControlName="hash" placeholder="search hashtags">
    <input type='submit' value='search hash'>
  </form>
  <input value="Content by Category" type="submit" (click)="toggleQuery('Hashes')">
  <input value="Users" type="submit" (click)="toggleQuery('People')">
  <input value="Posts by People" type="submit" (click)="toggleQuery('Posts')">
  <input value='auth' type='button' (click)="auth()">

  <ul>
    <li *ngFor="let user of users">
      IS THIS WORKING?
      User: {{user.username}}
      <button (click)="addFriend(user)">Add Friend</button>
    </li>
  </ul>
  {{keyWord}}
  <input *ngIf="keyWord" type='button' value="follow" (click)="follow(keyWord)">
  <div *ngFor='let user of users'>
      {{user.username}}
      <a routerLink="/wall" [queryParams]="{userId: user.uid}"><button>Visit Wall</button></a>
    </div>
    <div class="wrapper"> 
        
<div>
    <div *ngFor='let vid of content'>
      <app-content-item [vid]="vid"></app-content-item>
      <button (click)='roomStart(vid)'> Start a room</button>
      <input type='button' value='like' (click)='likePost({url: vid.src.changingThisBreaksApplicationSecurity.toString()})'>
    </div>
    <div *ngFor="let tweet of tweets" class="section fp-section fp-table" [innerHTML]= "tweet"> 
        {{tweet}}
    </div>
  </div>
  <!-- <app-stream-view [videoId]='videoUrl'></app-stream-view> -->
</div>
  <div>
    <input type="button" value="get current user" (click)="currentUser()">
    <input type='button' value='get content by categort' (click)='getContent()'>
  </div>
</div>
<div class="jumbotron">
    <div class="container">
      <h1 class="display-3 d-flex justify-content-center">#firsthashtag</h1>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Details</a></p>
    </div>
  </div>
<div class="container">
          <div class="row">
              <div class="col-4 d-flex justify-content-center">🎮</div>
              <div class="col-4 d-flex justify-content-center">🎥</div>
              <div class="col-4 d-flex justify-content-center">🌎</div>
            </div>
          <hr class="hr-text" data-content="CATEGORIES">
          <div class="row">
              <div class="col-2 d-flex justify-content-center">🚗</div>
              <div class="col-2 d-flex justify-content-center">😂</div>
              <div class="col-2 d-flex justify-content-center">✏️</div>
              <div class="col-2 d-flex justify-content-center">💁</div>
              <div class="col-2 d-flex justify-content-center">😍</div> 
              <div class="col-2 d-flex justify-content-center">📝</div> 
          </div>
          <div class="row">
              <div class="col-3 d-flex justify-content-center">🐶</div>
              <div class="col-3 d-flex justify-content-center">📱</div>  
              <div class="col-3 d-flex justify-content-center">🏈</div>   
              <div class="col-3 d-flex justify-content-center">✈️</div>  
              <div class="col-3 d-flex justify-content-center">🎵</div>              
              
            </div>
          <app-categories></app-categories>
          <hr class="hr-text" data-content="TRENDING">
          <h3>Two columns</h3>
          <p>Get two columns <strong>starting at desktops and scaling to large desktops</strong>.</p>
          <div class="row">
            <div class="col-md-6">.col-md-8</div>
            <div class="col-md-6">.col-md-4</div>
          </div>
        </div> <!-- /container -->
<app-navbar></app-navbar>