<div class="jumbotron">
    <div class="container">
      <h1 class="display-3 d-flex justify-content-center">Carpool Karaoke Week</h1>
      <p><a class="btn btn-primary btn-lg" href="https://itunes.apple.com/us/show/carpool-karaoke/id1219046821?app=music&mttnpid=305109&mttnsiteid=125115&mttnagencyid=2486&mttngadurl=https%3A%2F%2Fitunes.apple.com%2Fus%2Fshow%2Fcarpool-karaoke%2Fid1219046821%3F&mttnsubpid=g&mttnsubplmnt=&mttnsubad=228695380739&mttnsubcmp=920251662&mttnsubkw=carpool%20karaoke&mttnsub2=c&mttngmo=&is_mobile=&mttnsub1=e&gclid=EAIaIQobChMI8unj7vOi1wIVSk1-Ch3HnQkXEAAYASAAEgJWNfD_BwE&ign-itsct=PMKTNG&ign-itscg=3140" role="button">Details</a></p>
    </div>
  </div>
<div>
<div class="container-fluid">
  <!-- vv-Remove later-vv -->
  <form *ngIf="userButton" class="form" [formGroup]='myForm' (ngSubmit)="searchUsers(myForm.value)">
    <input formControlName="username" placeholder="search people">
    <input type='submit' value='search users'>
  </form>
  <form *ngIf="postButton" [formGroup]='postForm' (ngSubmit)="searchPosts(postForm.value)">
    <input formControlName="post" placeholder="search posts">
    <input type='submit' value='search posts'>
  </form>
  <form *ngIf="hashButton" [formGroup]='hashForm' (ngSubmit)="searchHashTags(hashForm.value)">
    <input formControlName="hash" placeholder="search hashtags">
    <input type='submit' value='search hash'>
  </form>
  <input value="Content by Category" type="submit" (click)="toggleQuery('Hashes')">
  <input value="Users" type="submit" (click)="toggleQuery('People')">
  <input value="Posts by People" type="submit" (click)="toggleQuery('Posts')">
  <ul>
    <li *ngFor="let user of users">
      IS THIS WORKING?
      User: {{user.username}}
      <button (click)="addFriend(user)">Add Friend</button>
    </li>
  </ul>
  {{keyWord}}
  <input *ngIf="keyWord" type='button' value="follow" (click)="follow(keyWord)">
  <div *ngFor='let user of users'>
      {{user.username}}
      <a routerLink="/wall" [queryParams]="{userId: user.uid}"><button>Visit Wall</button></a>
    </div>
    <div class="wrapper"> 
        
<div>
    <div *ngFor='let vid of content'>
      <app-content-item [vid]="vid"></app-content-item>
      <button (click)='roomStart(vid)'> Start a room</button>
      <input type='button' value='like' (click)='likePost({url: vid.src.changingThisBreaksApplicationSecurity.toString()})'>
    </div>
    <div *ngFor="let tweet of tweets" class="section fp-section fp-table" [innerHTML]= "tweet"> 
        {{tweet}}
    </div>
  </div>
</div>
</div>
  <div class="row">
    <div class="col-md-12">
      <div class="custom-search-input">
        <div class="input-group col-md-12">
            <input type="text" class="form-control input-lg" placeholder="Search" />
            <span class="input-group-btn">
                <button class="btn btn-info btn-lg" type="button">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span> 
        </div>
      </div>
      <div class="row">
          <div class="col-4 d-flex justify-content-center">🔥</div>
          <div class="col-4 d-flex justify-content-center">🎥</div>
          <div class="col-4 d-flex justify-content-center">🌎</div>
      </div>
    </div>
  </div>
  <hr class="hr-text" data-content="CATEGORIES">
  <app-categories></app-categories>
  <hr class="hr-text" data-content="TRENDING">  
  <app-featured></app-featured>  
  <div *ngFor='let vid of content'>
      <app-content-item [vid]="vid"></app-content-item>
  </div>   
 </div> <!-- /container -->
<app-navbar></app-navbar>