<div class="order-form">

  <form *ngIf="userButton" class="form" [formGroup]='myForm' (ngSubmit)="searchUsers(myForm.value)">
    <input formControlName="username" placeholder="search people">
    <input type='submit' value='search users'>
  </form>
  <form *ngIf="postButton" [formGroup]='postForm' (ngSubmit)="searchPosts(postForm.value)">
    <input formControlName="post" placeholder="search posts">
    <input type='submit' value='search posts'>
  </form>
  <form *ngIf="hashButton" [formGroup]='hashForm' (ngSubmit)="searchHashTags(hashForm.value)">
    <input formControlName="hash" placeholder="search hashtags">
    <input type='submit' value='search hash'>
  </form>
  <input value="Hashes" type="submit" (click)="toggleQuery('Hashes')">
  <input value="Users" type="submit" (click)="toggleQuery('People')">
  <input value="Posts" type="submit" (click)="toggleQuery('Posts')">
  <input value='auth' type='button' (click)="auth()">

  <ul>
    <li *ngFor="let user of users">
      IS THIS WORKING?
      User: {{user.username}}
      Name: {{user.first_name}} {{user.last_name}}
      <button (click)="addFriend(user.user_id)">Add Friend</button>
    </li>
  </ul>
  <ul>
    <!-- <div *ngFor="let tweet of tweets" [innerHTML]= "tweet"> 
        {{tweet}}
    </div> -->
    <!-- <div *ngFor="let vid of youtube">
    <iframe width="420" height="315"
    [src]=vid>
    </iframe>
  </div>
  <div *ngFor='let vid of twitch'>
    <iframe
    [src]=vid
    height="315"
    width="420"
    frameborder="0"
    scrolling="no"
    allowfullscreen="false">
</iframe>
  </div> -->
  <div *ngFor='let vid of content'>
    <iframe
    [src]='vid.src'
    height='315'
    width='420'>
  </iframe>
  <button (click)='roomStart(vid)'> Start a room</button>
  <input type='button' value='like' (click)='likePost({url: vid.src.changingThisBreaksApplicationSecurity.toString()})'>
  </div>
  <app-stream-view [videoId]='videoUrl'></app-stream-view>
  </ul>
  <div>
    <input type="button" value="get current user" (click)="currentUser()">
  </div>
</div>