<div>
      

    <!-- <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex class="coloredContainerX box">
        <div fxFlex> <app-navbar></app-navbar></div>
        <div fxFlex> 
            <mat-card class="card-demo">
                <mat-card-title>Main Area Heading</mat-card-title>
                <mat-card-subtitle>Main Area Subtitle</mat-card-subtitle>
                <mat-card-content>
                  <div>This is where our stuff will go for each card</div>
                </mat-card-content>
                <mat-card-footer style="width:95%">
                </mat-card-footer>
              </mat-card>
              <app-login></app-login>
              <app-search-bar></app-search-bar>
              <app-content-feed></app-content-feed>
              <app-friends-list></app-friends-list>
              <!-- <app-stream-view></app-stream-view> -->
        </div>
        
    </div>

<div>
    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex class="coloredContainerX box">
        <div fxFlex> <app-navbar></app-navbar></div>
        <div fxFlex> 
            <mat-card class="card-demo">
                <mat-card-title>Main Area Heading</mat-card-title>
                <mat-card-subtitle>Main Area Subtitle</mat-card-subtitle>
                <mat-card-content>
                  <div>This is where our stuff will go for each card</div>
                </mat-card-content>
                <mat-card-footer style="width:95%">
                </mat-card-footer>
              </mat-card>
              <app-testing></app-testing>
              <app-login></app-login>
              <app-search-bar></app-search-bar>
              <app-stream-view></app-stream-view>
        </div>
        
    </div>
  
            </div>
            
          </div> -->
  <!-- <app-login></app-login>
  <app-search-bar></app-search-bar>
  <app-friends-list></app-friends-list>
  <app-content-feed></app-content-feed>   -->
  <!-- <app-stream-view></app-stream-view> -->
  <router-outlet></router-outlet>
</div>



<!--The content below is only a placeholder and can be replaced.-->
<!-- <mat-sidenav-container class="mat-typography">
  <mat-sidenav>

    <mat-toolbar color="accent">

      <img src="assets/images/logo.png" class="logo" alt="{{title}}" />

    </mat-toolbar>

    <mat-nav-list>
      <mat-list-item>
        <mat-icon mat-list-icon>folder</mat-icon>
        <a mat-line>Feed</a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>folder</mat-icon>
        <a mat-line>Logout</a>
      </mat-list-item>
    </mat-nav-list>

  </mat-sidenav>

  <mat-toolbar color="primary">
    <span>
      <button mat-icon-button (click)="sidenav.open()">
            <mat-icon>menu</mat-icon>
          </button>
      
          </span>
    <span>{{title}}</span>

    <span fxFlex></span>

    <span>
      
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Dashboard</span>
    </button>
    <button mat-menu-item disabled>
          <mat-icon>voicemail</mat-icon>
          <span>Show log</span>
        </button>
    <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable notifications</span>
        </button>
    </mat-menu>

    </span>
  </mat-toolbar>

  <div class="content">



    <mat-tab-group>
      <mat-tab label="Push Notifications">

        <app-control-push></app-control-push>

      </mat-tab>
      <mat-tab label="Background Sync">

        <app-post-tweet></app-post-tweet>

      </mat-tab>
      <mat-tab label="Broadcast Channel">

        <app-control-broadcast></app-control-broadcast>

      </mat-tab>
    </mat-tab-group>

    <app-tweet-feeds></app-tweet-feeds>

  </div>

</mat-sidenav-container>
 -->
