<div>
  <div *ngFor='let user of users'>
    <a (click)='selectUser(user.uid)'>{{user.first_name}} {{user.uid}}</a>
  </div>
  <input type='button' value='Show friends list' (click)="getFriendsList()">
  <div *ngIf="showFriends">
    <div *ngFor="let friend of friendsList">
      {{friend.name}} | {{friend.username}}
      <a routerLink="/wall" [queryParams]="{userId: friend.uid}">
        <button (click)="refresh()">Visit Wall</button>
      </a>
    </div>
  </div>
</div>
<div>
    <h2>My friends</h2>
    <ul>
      <li><a href="#">Martin</a></li>
      <li><a href="#">Jimmy</a></li>
      <li><a href="#">Lausanne</a></li>
      <li><a href="#">Lucerne</a></li>
    </ul>
  </div>

  <!-- <ul>
      <li *ngFor="let cat of keys" (click)="getVidsByCategory(this.categories[cat])">{{cat}}</li>
    </ul> -->
<app-navbar></app-navbar>