<div class="wrapper">
    <div class="h_iframe">
        <img class="ratio" src="http://emojis.slackmojis.com/emojis/images/1471119458/990/party_parrot.gif?1471119458"/>
    <iframe
      [src]='vid.src'
      frameborder="0" allowfullscreen>
    </iframe>
    <button (click)='roomStart()'>Start Room</button>
    <i *ngIf="!liked" class="fa fa-heart-o fa-2x" (click)="toggleLiked({url: vid.src.changingThisBreaksApplicationSecurity.toString()})"></i>
    <i *ngIf="liked" class="fa fa-heart fa-2x" (click)="toggleLiked({url: vid.src.changingThisBreaksApplicationSecurity.toString()})"></i>
    <div>{{likeCount}} likes</div>
  </div>